@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  height: auto;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1165px;
  width: 91%; 
  margin: 0 auto;
}

/* Css Reset  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body { font-family: 'Poppins', sans-serif; }

/* Common Classes */
.upper-case { text-transform: uppercase; }
/*=================================
  Header styling starts here
=================================*/
header {
  width: 100%;
  padding: 25px 0;
  position: absolute;
  top: 63%;
  left: 0;
  background-color: #13161D;
  opacity: .7;
}

.navigation {
  width: 96%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.nav-link {
  color: #fff;
  font-size: 21px;
  font-weight: 500;
  letter-spacing: .5px;
  transition: .4s;
}

.nav-link:hover { color: #789fbd; }

.hamburger {
  display: none;
  z-index: 2;
  cursor: pointer;
  text-indent: -999999px;
}

.line {
  width: 30px;
  height: 3px;
  border-radius: 20%;
  margin: 7px 0;
  display: block;
  background-color: #fff;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.hamburger.active .line { background-color: #fff; }

.hamburger.active .line1 {
  -webkit-transform:  translateY(12px) rotate(41deg);
  -ms-transform:  translateY(12px) rotate(41deg);
  transform: translateY(10px) rotate(45deg);
 }

.hamburger.active .line2 {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
 }

.hamburger.active .line3 {
  -webkit-transform: translateY(-10px) rotate(-46deg);
  -ms-transform: translateY(-10px) rotate(-46deg);
  transform: translateY(-10px) rotate(-46deg);
  -ms-transform: translateY(-10px) rotate(-46deg);
  transform: translateY(-10px) rotate(-45deg);
}
/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

/* banner styling starts here */

.banner {
  border-bottom: 11px solid #2A649A;
  position: relative;
  z-index: -1;
}

.banner figure {
  height: 481px;
}

.banner-content {
  width: 50%;
  position: absolute;
  top: 49px;
  left: 67px;
}

.banner-heading a{
  margin-bottom: 4px;
  color: #F4FFFF;
  font-size: 55px;
  letter-spacing: 2px;
  text-shadow: 0 2px 2px #000;
  text-transform: uppercase;
}

.banner-para{
  color: #F4FFFF;
  font-size: 22px;
  letter-spacing: 1px;
  text-shadow: 0 2px 2px #000;
}
/* banner styling ends here */

/* bookstore styling starts here */

.bookstore {
  padding: 75px 0 50px;
  overflow: hidden;
}

.bookstore-heading {
  color: #66696E;
  font-size: 32px;
  text-transform: lowercase;
}

.bookstore-para{
  margin: 19px 0 94px;
  color: #373A3B;
  font-size: 18px;
  line-height: 30px;
}

.book-list-container {
  width: 100%;
  display: flex;
}

.book-list {
  width: 100%;
  display: none;
  flex-wrap: wrap;
  justify-content: space-between;
}

.book-list.active { display: flex; }

.book-list li {
  margin-bottom: 38px;
  flex-basis: 23.5%;
}

.book-list figure { text-align: center; }
.book-list img { height: 362px; }

.book-list figcaption {
  margin: 10px 0;
  color: #30312C;
  font-size: 18px;
  text-transform: lowercase;
}

.navigators {
  margin: 35px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigators li{ margin: 0 5px; }

.navigators a{
  padding: 11.5px 24px;
  background-color: #EEEEEE;
  color: #929292;
  font-size: 18px;
  transition: .4s;
}

.navigators a.active,
.navigators a:hover {
  background-color: #286590;
  color: #fff;
}

.help {
  padding: 49px 0 50px;
  margin: 70px 0 19px;
  background-color: #2A649A;
}

.help .wrapper {
  max-width: 921px;
  display: flex;
  align-items: flex-start;
}

.help figure {
  min-width: 132px;
  height: 115px;
  border-radius: 50%;
  margin: 20px 51px 0 0;
  flex-basis: 128px;
  overflow: hidden;
}

.help img {
  height: 100%;
  object-fit: cover;
}

.help-heading {
  color: #D8FFFF;
  font-size: 31px;
  letter-spacing: 1px;
}

.help-para {
  margin: 8px 0 25px;
  color: #7CB1BA;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 32px;
}

.chat-btn {
  padding: 10px 32px;
  border: 1px solid rgb(255, 255, 255);
  background-color: transparent;
  color: #A3CFDE;
  font-size: 18px;
}
/* bookstore styling ends here */

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 

footer {
  padding: 13px 0;
  background-color: #323232;
}

footer .wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.copyright,
.footer-heading,
.footer-heading a{
  color: #EAEAEA;
  font-size: 19px;
}

.copyright { margin-right: 5px; }
 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}  